header {
	background: url(http://thepatternlibrary.com/#guglieri-speciale);
	text-align: 

}

img {
	width: 
	height:;
	border:;
	border-radius: 
	margin:;


}

h1 {
	font-size: 
	color
	font-family:;
}

li {
	color: 
	display: inline;
	margin: 


}

ul {
	background-color: 
	padding:
	;

}